<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Iniciar sesión</title>
  </head>
  <body>
  <h2>Iniciar sesión</h2>

  <form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Login</button> <!--Boton de Loggin que veridicacrá si el usuario existe en la BBDD-->
  </form>
  <hr/>
  <a href="/register">Registrar usuario</a><!--Meter un nuevo usuario en la bbdd-->
  </body>
</html>
