<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Bienvenida</title>
</head>

<body>
  <p>Bienvenido <b>{{request.user.username}}</b>, esta página es exclusiva para usuarios registrados.</p>
  <a href="/index.py">Operaciones con productos</a> <!--Operaciones que se van a hacer con los productos-->
  <br>
  <a href="/logout">Cerrar sesión</a><!--Cerrar el registro y salir-->
</body>

</html>